<table id="match_summary">
    <th>
        Match ID
    </th>
    <th>
        Duration
    </th>
    <th>
        Result
    </th>
    <tr>
        <td class="match_id">
            {{ match.match_id }}
        </td>
        <td class="duration">
            {{ match.duration // 60 }}:{% if match.duration % 60 < 10 %}0{% endif %}{{ match.duration % 60 }}
        </td>
        <td class="result">
            {% if match.radiant_win %}
            Radiant 
            {% else %}
            Dire 
            {% endif %}
            victory!
        </td>
    </tr>
</table>
<table id="match_details">
    <th>Hero</th>
    <th>Player</th>
    <th>Level</th>
    <th>Items</th>
    <th>KDA</th>
    <th>Gold</th>
    <th>CS</th>
    <th>Denies</th>
    <th>Gold/min</th>
    <th>Xp/min</th>
    {% for player in match.players %}
    <tr>
        <td class="hero">{{ player.hero_id }}</td>
        <td class="player">{{ player.player_name }}</td>
        <td class="level">{{ player.level }}</td>
        <td class="items">
            {% if player.item_0 != 0 %}<img src="/img/items/{{ items[player.item_0] }}.png" alt="{{ items[player.item_0] }}" />{% endif %}
            {% if player.item_1 != 0 %}<img src="/img/items/{{ items[player.item_1] }}.png" alt="{{ items[player.item_1] }}" />{% endif %}
            {% if player.item_2 != 0 %}<img src="/img/items/{{ items[player.item_2] }}.png" alt="{{ items[player.item_2] }}" />{% endif %}
            {% if player.item_3 != 0 %}<img src="/img/items/{{ items[player.item_3] }}.png" alt="{{ items[player.item_3] }}" />{% endif %}
            {% if player.item_4 != 0 %}<img src="/img/items/{{ items[player.item_4] }}.png" alt="{{ items[player.item_4] }}" />{% endif %}
            {% if player.item_5 != 0 %}<img src="/img/items/{{ items[player.item_5] }}.png" alt="{{ items[player.item_5] }}" />{% endif %}
        </td>
        <td class="kda">{{ player.kills }}/{{ player.deaths }}/{{ player.assists }}</td>
        <td class="gold">{{ player.gold }}</td>
        <td class="cs">{{ player.last_hits }}</td>
        <td class="denies">{{ player.denies }}</td>
        <td class="gold_min">{{ player.gold_per_min }}</td>
        <td class="xp_min">{{ player.xp_per_min }}</td>
    </tr>
    {% endfor %}
</table>
